<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>
        <%= offer.type %>
    </title>

</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class=" " href="/">Home </a>
                </li>
                <li class="main-header__item">
                    <a class=" " href="/offer/add-offer">Add an Offer</a>
                </li>
                <li class="main-header__item">
                    <a class=" " href="/offer">
                        Contracts
                    </a>
                </li>
                
            </ul>
        </nav>
    </header>


    <main class="centered">
        <h1>

            <%= offer.type %>
        </h1>
        
        <h2>Amount :
            <%= offer.minAmount %>-<%= offer.maxAmount %>
        </h2>
        <p>
            LTV :
            <%= offer.ltv %>
        </p>

        <p>
            APY :
            <%= offer.apy %>
        </p>
        <p>
            Time Duration :
            <%= offer.timeFrame %>
        </p>
        <hr>
        <h2>Your Details !</h2>
        <form class="product-form" action="/contract/active" method="POST">
                
            <div class="form-control">
                <label for="amount">Amount (in $)</label>
                <input type="number" name="amount">
            </div>
                
            <div class="form-control">
                <label for="pubKey2">Your Public key</label>
                <input type="text" name="pubKey2">
            </div>

            <div class="form-control">
                <label for="recAddress2">Receiving address</label>
                <input type="text" name="recAddress2">
            </div>
            
            <input type="hidden" name="adId" value=<%= offer._id %>>
            <input type="hidden" name="apy" value=<%= offer.apy %>>
            <input type="hidden" name="ltv" value=<%= offer.ltv %>>
            <input type="hidden" name="duration" value=<%= offer.timeFrame %>>
            <input type="hidden" name="recAddress1" value=<%= offer.recAddress %>>
            <input type="hidden" name="pubKey1" value=<%= offer.publicKey %>>

            <button class ="btn" type="submit">Accept Offer</button>
            </form>
            
    </main>
    <script src="/js/main.js"></script>
</body>

</html>